@import './themes.css';

body{
    
    

  background-color: rgba(215, 79, 223, 0.399);

}


.par1 p{
    font-size: var(
        --fs-3xl);
  --ff-prosto: "Prosto One", cursive;
  font-family: var( --ff-sevillana);
  text-align: center;
}

.par2 img{
    border-radius: 5px;
   width: 800px;
}
.par2{
    display: flex;
    justify-content: center;
    align-items: center;
}